.github-container{
  width: 120px;
  height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: 0.5s all;
  cursor: pointer;
}

.github-logo-wrp{
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-position: center;
}

.github-logo-wrp > img{
  width: 100%;
  border-radius: var(--qgd-border-radius-1);
}

.github-container > p{
  width: 70px;
  font-weight: 200;
  font-size: small;
  color: var(--qgd-color-1);
}

.github-container > p:hover {
  font-weight: 400;
}