
/* BUTTONS */
.primary-button{
  padding: var(--qgd-padding-xs);
  border: 1px solid  var(--qgd-color-1);
  background-color: var(--qgd-color-1);
  color:var(--qgd-color-2);
  border-radius:var(--qgd-border-radius-1);
  cursor:pointer;
  transition: 0.7;
  margin: 10px;
}

.secondary-button{
  padding: var(--qgd-padding-xs);
  border: 1px solid  var(--qgd-color-50);
  background-color: transparent;
  color: var(--qgd-color-50);
  border-radius:var(--qgd-border-radius-1);
  cursor:pointer;
  transition: 0.7;
  margin: 10px;

}

.tertiary-button{
  padding: var(--qgd-padding-xs);
  border: none;
  background-color: transparent;
  color: var(--qgd-color-50);
  border-radius:var(--qgd-border-radius-1);
  text-decoration: underline;
  cursor:pointer;
  transition: 0.7;

}

.hover:hover {
  scale: 1.03;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.tertiary-button:hover{
  scale: 1.02;
  color: var(--qgd-color-25);
}